@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 30px 5px;
    align-items: center;
    width: 320px;
    height: 500px;
    background-color: #0B0C10;
    border-radius: 10px;
}

.header {
    color: #66FCF1;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;;
}

.restart-btn {
    padding: 5px;
    font-size: 15px;
    background-color: #1F2833;
    outline: none;
    border-radius: 5px;
    border: 1px solid #1F2833;
    color: #C5C6C7;
    margin-bottom: 10px;
}

.restart-btn:hover {
    border: 1px solid #C5C6C7;
    background-color: #45A29E;
    color: #1F2833;
}

.display-msg {
    color: #66FCF1;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.board {
    /* border: 1px solid #66FCF1; */
    width: 300px;
    height: 300px;
}

.row {
    width: 300px;
    height: 100px;
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #66FCF1;
    color: #66FCF1;
    font-size: 70px;
    background-color: #1F2833;
    outline: none;
}

.btn-hover {
    border: 1px solid #1F2833;;
    color: #1F2833;
    background-color: #66FCF1;
}